{% extends 'base.html' %}

{% block title %} Blogs {% endblock %}
{% block homeactive %} active {% endblock homeactive %}

{% block body %}
<section class="u-align-left u-clearfix u-section-1" id="carousel_3761">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <h2 class="u-custom-font u-font-montserrat u-text u-text-default u-text-1">Aviato</h2>
                  <p class="u-custom-font u-font-montserrat u-text u-text-2">Aviato is a whistleblowing platform meant for citizens. Aviato makes it easier than ever to report problems in your community. In addition, we provide immidiate response to any problem as it sends MMS to the&nbsp;pertinent for each problem category of problem.&nbsp;</p>
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-valign-bottom-lg u-valign-bottom-xl u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-2">
                  <img class="u-image u-image-default u-image-1" src="https://pixabay.com/get/g5bd80d744a6e49b741a7642328c953a4052662de38d0a44cb2dfdb3dcdade82801e177f33d39ab70346061f81efef0ed0e1ffdc093147d63016e541d76983baf_1280.jpg" alt="" data-image-width="1280" data-image-height="853">
                </div>
              </div>
            </div>
          </div>
        </div>
        <blockquote class="u-text u-text-default u-text-3">"​Sustainability is here to stay, or we may not be." By Niall FitzGerald.</blockquote>
        <div class="u-expanded-width u-list u-list-1"></div>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-fd53"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Instagram: @aviator_recycle<br>Gmail:&nbsp;aviatorecycle@gmail.com
        </p>
      </div></footer>
    </section>
{% endblock %}